body {
    margin:0;
    background:url(../images/cloud.jpg); /* for my layout*/
    background-size: 100% auto;
    background-color: #ADD8E6;
    font-family: 'Rajdhani', sans-serif;
    color:rgb(237, 239, 242);
    
}

/* sub header*/

.nav {
    width:100%;
    background:#000033;
    height:100px;
    margin-top: 100px;
    opacity: 0.6;
     
     
     
} /* for my font*/

.words{
   color:#ffffff;
    
}

ul {
    list-style:none;
    padding:0;
    margin:5px;
    position:absolute;
    
}

ul li {   
    float: left;
    margin-top: 30px;
    text-align: center
}

/* :) */
    
a {
    width:200px;
    color: #ffffff;
    display: block;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    border-radius: 0;
    font-family: century gothic;
    font-weight: bold;
    ;

}

li:hover{
    background:#669900;
    transition:.06s;
}  
    
#footer{

text-align: center;
margin: 0px 0px 0px 0px;
font-family: arial, helvetica;
font-weight: bold ;
font-size: 30px;
background-color: #ADD8E6;

}

/* overall font*/

.words{
    
    font-family: 'Rajdhani', sans-serif;
   font-size: 18px;
}

/* need to add internal links*/










